li {
    list-style: none;
}

h1 {
    margin: 20px auto;
}

.form-input {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 6px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-button {
    background: pink;
    color: white;
    display: inline-block;
    border: 1px solid transparent;
    padding: 6px;
    border-radius: 0.25rem;
    font-size: 14px;
    width: 100%;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.city-display {
    margin-bottom: 1px;
    font-size: 44px;
    font-family: 'Abril Fatface', cursive;
}

.day-time {
    font-family: 'Abril Fatface', cursive;
}

.weather-description {
    font-size: 14px; 
}


.weather-display {
    padding-top: 10px;
}

.icon-image {
    padding-bottom: 25px;
    
}

.temperature-display {
    font-size: 36px;
    font-family: 'Abril Fatface', cursive;
}

.unit {
    font-size: 13px;
    position: relative;
    top: -15px;
}

.wind-humidity {
    padding-top: 35px;
    font-family: 'Abril Fatface', cursive;
}